body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
    color: #343a40;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.sidebar.collapsed {
    transform: translateX(-250px);
}

.drop-zone {
    border: 2px dashed #007bff;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
}

.drop-zone.dragover {
    background-color: #e0e0e0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 250px; /* Adjust based on sidebar width */
    width: calc(100% - 250px); /* Adjust based on sidebar width */
    padding: 2rem;
    flex: 1;
    transition: margin-left 0.3s ease;
}

.content.collapsed {
    margin-left: 0;
    width: 100%;
}

header {
    background-color: #686e76;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

header h1 {
    text-align: center;
}

header .actions {
    display: flex;
    justify-content: center;
    gap: 0rem;
    margin-top: 0rem;
}

header .actions label {
    margin-right: 0.5rem;
}

.toggle-btn {
    background-color: #eaeff4;
    color: rgb(81, 81, 81);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.toggle-btn.on {
    background-color: #007bff;
    color: white;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
}

.dropbtn {
    background-color: #eaeff4;
    color: rgb(81, 81, 81);
    padding: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d4d4d4;
}

.animate-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}